<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="comtainer"></div>
    <img src="" alt="" />
    <nav>
      <img src="../Image/UserImage.png" alt="Default" />
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </nav>
    <div class="day_slot">
      <h1>Tasks: {}</h1>
      <h1>Finished: {}</h1>
      <h1>day num</h1>
    </div>
    <img src="" alt="" />
    <form>
      <div>
          <label for="UserName">UserName</label>
          <input type="text" name="UserName" id="UserName" />
      </div>
      <div>
          <label for="Region">Region</label>
          <input type="text" name="Region" id="Region" />
      </div>
    </form>
    <img src="" alt="">
    <textarea name="" id="" cols="20" rows="2"></textarea>
  </body>
</html>
