.WeekDay {
  border: 0.1rem solid black;
  margin-bottom: 0;
}

.day_slot {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid black;
  background: white;
  transition: background 0.2s ease-out;
}

.day_slot:hover {
  background: rgb(226, 230, 231);
}

.day_slot_text {
  font-size: x-large;
}

.day_slot :first-child {
  align-self: flex-end;
}

.CalendarGrid {
  display: grid;
  grid-template: 10vh repeat(6, 15vh) / repeat(7, 12vw);
}

@media screen and (min-width: 750px) {
  .day_slot_text {
    font-size: small;
  }

  .WeekDay {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .day_slot_text {
    font-size: medium;
  }

  .WeekDay {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1400px) {
  .day_slot_text {
    font-size: x-large;
  }

  .WeekDay {
    font-size: 2.5rem;
  }
}
