.WeekDay {
  border: 0.1rem solid black;
  margin-bottom: 0;
}

.day_slot {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid black;
  background: white;
  transition: background 0.2s ease-out;
}

.day_slot:hover {
  background: rgb(226, 230, 231);
}

.day_slot_text {
  font-size: x-large;
}

.day_slot :first-child {
  align-self: flex-end;
}

.CalendarGrid {
  display: grid;
  grid-template: 10fr repeat(5, 18fr) / repeat(7, 12fr);
}
