.userImage {
  width: 5rem;
  height: 5rem;
  object-fit: fill;
  align-self: center;
}

.Todo_main_title {
  align-self: center;
}

.first_day_of_month, .month_finished {
  margin-top: 1rem;
  margin-right: 1rem;
  font-weight: bold;
}

.monthFinishedBtn {
  width: 4rem;
}

.sidebar {
  background-color: #e3f2fd;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2rem;
  padding-left: 1rem;
}

.sidebar-ul {
  width: 100%;
  list-style-type: none;
}

.sidebar-item {
  margin-top: 2rem;
  background-color: white;
  width: 90%;
}

.sidebar-item .sidebar-btn,
.sidebar-item .sidebar-Clear-btn {
  border: none;
  color: black;
  background: white;
  text-align: left;
  width: 100%;
  transition: background 0.2s ease-out;
}

.sidebar-item .sidebar-btn:hover {
  background: rgb(13, 110, 253);
}

.sidebar-item .sidebar-Clear-btn:hover {
  background: tomato;
}
