.TodoPage {
  display: flex;
  flex-direction: column;
}

.TodoPageGrid,
.TodoPageTitle {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(2, 50vw);
}

.title {
  margin-left: 2rem;
}

.Timed_ul {
  list-style-type: none;
}

.Timed_text_area {
  resize: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  max-width: 100%;
  vertical-align: top;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Back_btn,
.clear_btn {
  margin-top: 4rem;
}

.checkbox {
  margin-left: 1rem;
}

.add_btn {
  margin-left: 1rem;
}

@media screen and (min-width: 750px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1400px) {
  .TodoPageGrid {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(2, 50vw);
  }
}
